faiss-cpu~=1.10.0
langchain-community~=0.3.20
langchain-core~=0.3.52
python-dotenv~=1.0.1
langgraph~=0.2.76
langchain-text-splitters~=0.3.7
langchain~=0.3.21
fastapi~=0.115.11
pydantic~=2.10.6
streamlit~=1.42.2
google-auth-oauthlib~=1.2.1
google-api-python-client~=2.162.0
pytz~=2025.1
requests~=2.32.3
groq~=0.23.1
typing_extensions~=4.12.2
pydub~=0.25.1
ffmpeg~=1.4
pyaudio~=0.2.14
langchain-nvidia-ai-endpoints~=0.3.9
langchain-groq~= 0.3.2
uvicorn~=0.34.2
google-auth-oauthlib~=1.2.2
google-auth~= 2.39.0
google-auth-httplib2~= 0.2.0
google-api-python-client~=2.162.0
langchain-huggingface~=0.1.2
pyaudio~=0.2.14
elevenlabs~= 1.57.0
