faiss-cpu~=1.10.0
langchain-community~=0.3.20
langchain-core~=0.3.52
python-dotenv~=1.0.1
langgraph~=0.2.76
langchain-text-splitters~=0.3.7
langchain~=0.3.21
typing_extensions~=4.12.2
fastapi~=0.115.11
pydantic~=2.10.6
streamlit~=1.42.2
google-auth-oauthlib~=1.2.1
google-api-python-client~=2.162.0
pytz~=2025.1
requests~=2.32.3